
.DS_Store
.gitattributes
/modules/__pycache__/
__pycache__/
/venv/

/modules/custom_modules
/ytdlp_down/
/json/

unknown_errors.txt
.env
*.cache
*.session
*.db
*.sqlite3
*.sqlite
*-journal
*.idea
*.json
